<div class="container">
  <h1 class="display-4 text-center mb-5">Dodavanje pozicije zaposlenog</h1>
  <div class="my-4 d-flex justify-content-end w-100">
    <button class="btn btn-warning rounded-pill" (click)="toggle()">{{!editing ? 'Izmeni predlog' : 'Odustani od izmene'}}</button>
  </div>
  <form [formGroup]="predlogForm" (submit)="edit()">

    <div class="form-group mb-4">
      <label for="sifraPredlogaProjekta">Sifra predloga projekta: </label>
      <input class="form-control rounded-pill" id="sifraPredlogaProjekta" type="number"
        formControlName="sifraPredlogaProjekta" name="sifraPredlogaProjekta">
    </div>

    <div class="form-group mb-4">
      <label for="nazivProjekta">Naziv projekta: </label>
      <input class="form-control rounded-pill" id="nazivProjekta" type="text" formControlName="nazivProjekta"
        name="nazivProjekta">
    </div>


    <div class="form-group">
      <label for="sifraKompanije">Kompanija: </label>
      <select class="form-control rounded-pill" id="sifraKompanije" name="sifraKompanije"
        formControlName="sifraKompanije" (change)="onChange()">
        <option value="{{komp.sifraKompanije}}" *ngFor="let komp of kompanije">{{komp.sifraKompanije}} {{komp.nazivKompanije}} </option>
      </select>
    </div>

    <div class="form-group mb-4">
      <label for="nazivKompanije">Naziv kompanije: </label>
      <input class="form-control rounded-pill" id="nazivKompanije" type="text" formControlName="nazivKompanije"
        name="nazivKompanije">
    </div>

    <div class="form-group mb-4">
      <label for="ciljProjekta">Cilj projekta</label>
      <textarea class="form-control rounded-pill" id="ciljProjekta" formControlName="ciljProjekta"
        name="ciljProjekta"></textarea>
    </div>

    <div class="form-group mb-4">
      <label for="aktivnostiProjekta">Aktivnosti na projektu</label>
      <textarea class="form-control rounded-pill" id="aktivnostiProjekta" formControlName="aktivnostiProjekta"
        name="aktivnostiProjekta"></textarea>
    </div>

    <div class="form-group mb-4">
      <label for="opisProjekta">Opis projekta</label>
      <textarea class="form-control rounded-pill" id="opisProjekta" formControlName="opisProjekta"
        name="opisProjekta"></textarea>
    </div>

    <div class="form-group date">
      <label for="predlogPocetka">Predlog početka: </label>
      <input type="text" formControlName="predlogPocetka" class="form-control rounded-pill" [bsConfig]="bsConfig"
        bsDatepicker>
    </div>

    <div class="form-group mb-4">
      <label for="trajanje">Trajanje projekta u danima</label>
      <input class="form-control rounded-pill" id="trajanje" type="number"
        formControlName="trajanje" name="trajanje">
    </div>

    <div class="form-group date">
      <label for="datumZavrsetka">Datum završetka: </label>
      <input type="text" formControlName="datumZavrsetka" class="form-control rounded-pill" [bsConfig]="bsConfig"
        bsDatepicker>
    </div>

  <div class="my-4 d-flex jusiify-content-center w-100">
    <button class="btn btn-success my-5 mx-auto rounded-pill w-25" type="submit" [disabled]="predlogForm.disabled || !predlogForm.touched">Izmeni</button>
  </div>
  </form>
</div>