<div class="form container d-flex flex-column align-self-center">
  <div class="row my-5 d-flex justify-content-around">
    <button class="btn btn-primary" [routerLink]="['/predlozi']">PREDLOZI PROJEKATA</button>
    <button class="btn btn-primary" [routerLink]="['/odobrenja']">ODOBRENJA</button>
  </div>
  <div class="row my-5 justify-content-around">
    <button class="btn btn-primary" [routerLink]="['/ugovori']">UGOVORI</button>
    <button class="btn btn-primary" [routerLink]="['/zaposleni']">ZAPOSLENI</button>
  </div>
</div>
